html, body {
  height: 100%;
  margin: 0;
}



body {
  font-family:'DejaVu', sans-serif;
  background-image: url('/img/darkbg.jpg');
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center; 
}



h1 {
  display: inline-block;
  text-align: center;
  border-style: solid;
  border-color: #c91313;
  border-width: 6px;
  padding: 10px;
  margin:10px;
  outline-style: solid;
  outline-width: 4px;
  outline-offset: 0px;
  outline-color: #ebcf2d;
}




hr {
  border: solid;
  border-radius: 10px;
  border-color: black;
  border-width: 2px;
  background-color: #787878; 
  height: 4px;
  margin: 6px;
  

  
  
}

h3 {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  border: 3px solid;
  border-color: #c91313;  
  border-radius: 10px;
  outline-style: solid;
  outline-color: #ebcf2d;
  outline-width: medium;
  outline-offset:1px;
}

p{
  margin-right: 120px;
  margin-left: 120px;

}
img {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  margin-left: 15px;
  border: solid;
  border-color:#c91313;
  border-radius: 5px;
  border-width: 3px;
  outline: solid;
  outline-color: #d3bc3c;
  outline-width: 3px;
  outline-offset: 1px;
}

button {
  color: white;
  background-color: #787878;
  border: solid;
  border-color: black;
  outline: solid;
  outline-width: 2px;
  outline-color: white;
  border-radius: 3px;
}